/*Testing*/
/** {
  border: red 2px solid;
}*/
/*Variables*/
:root {
  --hot-pink: #DD1972;
  --light-pink: #F74D9B;
  --dark-grey: #404041;
  --light-grey: #D0D2D3;
  --grey: #6E6E6E;
  --lightest-grey: #F7F7F7;
}
* {
  box-sizing: border-box;
}
/*Body*/
body {
  border: var(--dark-grey) 2px solid;
  color: var(--grey);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0px;
}
/* Header */
.header {
  background-color: var(--dark-grey);
  overflow: auto;
  text-align: center;
  width: 100%;
}
.header__heading {
  color: var(--hot-pink);
  font-size: 60px;
  font-weight: 300;
  margin: 20px auto 0px auto;
  width: 90%;
}
.header__heading__bold-text {
  font-weight: 700;
}
.header__paragraph {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  margin: 0px auto 40px auto;
  width: 90%;
}
.header__paragraph--fancy-lines span {
  position: relative;  
}
.header__paragraph--fancy-lines span:before,
.header__paragraph--fancy-lines span:after {
  content: "";
  position: absolute;
  border-bottom: 2px solid white;
  top: 12px;
  width: 33%;
}
.header__paragraph--fancy-lines span:before {
  right: 100%;
  margin-right: 15px;
}
.header__paragraph--fancy-lines span:after {
  margin-left: 15px;
}
/*Main*/
.main {
  display: flex;
  overflow: hidden;
  vertical-align: top;
}
/*Section*/
.section {
  box-sizing: border-box;
  border: var(--dark-grey) 1px solid;
  margin: 0px;
  width: 50%;
}
.section--left {
  background-color: var(--lightest-grey);
}
.article {
  background-color: #ffffff;
  border: var(--light-grey) 1.5px solid;
  margin: 20px auto 0px auto;
  width: 90%;
}
.article__paragraph {
  display: block;
  margin: 15px auto 0px auto;
  width: 90%
}
.article__form {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin: 0px auto 20px auto;
  width: 90%;
}
.article__form__div {
  display: inline-block;
  width: 28%;
}
.label--styles {
  font-size: 12px;
}
.article__form__div__input {
  display: block;
  width: 100%;
}
.input--styles {
  box-sizing: border-box;
  display: block;
  height: 20px;
}
.article__form__button {
  width: 28%;
}
.button--styles {
  border-radius: 25px;
  font-family: 'Open Sans', sans-serif;
  height: 26px;
  font-weight: bold;
  color: white;
}
.button--states:disabled {
  background-color: var(--light-grey);
}
.button--states:hover:enabled {
  background-color: var(--hot-pink);
}
.button--states {
  background-color: var(--grey);
}
.article__paragraph--current-range {
  font-size: 14px;
}
.article__form__div--name {
  width: 65%;
}
.article__form__div--guess {
  margin-left: 15px;
}
.article--latest-score {
  margin-bottom: 20px;
}
.article__div {
  margin: auto;
  margin-bottom: 15px;  
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.article__div__button {
  width: 30%;
}
.article__div--latest-score {
  display: flex;
  text-align: center;
}
.article__div--right,
.article__div--left {
  width: 50%;
}
.article__div--left {
  border-right: 2px var(--light-grey) solid;
}
/*.verticle-line {
  bottom: 2%;
  border-left: 2px var(--light-grey) solid;
  left: 25%;  
  position: absolute;
  top: 73%;
}
*/.span--challenger-name {
  font-size: 14px;
  font-weight: 700;
}
.span--current-guess {
  font-size: 14px;
}
.span--number {
  color: var(--light-pink);
  font-size: 60px;
  font-weight: 700;
}
/*Content Section Right*/
.section--right {
  background-color: var(--grey);
}


/*Winner Cards*/

.article-winner-card {
  background-color: #ffffff;
  border: var(--light-grey) 1.5px solid;
  margin: 20px auto 0px auto;
  width: 80%;
}

  .span__challenger1-name,
  .span__challenger2-name {
    color: var(--grey);
    font-weight: bold;
    font-size: 14px;
  }

  .header-for-winner-card {
    color: var(--grey);
    font-weight: 300;
    display: flex;
    justify-content: space-around;
    margin: 4px auto 4px auto;
    border-bottom: 2px solid var(--lightest-grey);
  }

  .article__div__winner-card {
    margin: auto;
    margin-bottom: 15px;
  }

  .winning-challenger-name {
    font-weight: 800;
    color: var(--grey);
    font-size: 30px;
  }

  .challenge-winner {
    color: var(--grey);
    text-align: center;
    font-size: 28px;
  }

  .bottom-data-line {
    display: flex;
    border-top: var(--light-grey) 1.5px solid;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
  }

  .total-number-guesses,
  .total-time-spent {
    font-weight: bold;
    color: var(--grey);
  }

  .winner-card-close-button {
    background-color: var(--grey);
    border-radius: 50%;
    border: none;
    text-align: center;
    font-size: 14px;
    width: 28px;
    height: 28px;
    color: white;
    margin-top: 15px;
    font-size: 20px;
  }






