/*Testing*/
/** {
  border: red 2px solid;
}*/
/*Variables*/
:root {
  --hot-pink: #DD1972;
  --light-pink: #F74D9B;
  --dark-grey: #404041;
  --light-grey: #D0D2D3;
  --grey: #6E6E6E;
  --lightest-grey: #F7F7F7;
}
* {
  box-sizing: border-box;
}
/*Body*/
body {
  border: var(--dark-grey) 2px solid;
  color: var(--grey);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0px;
  min-width: 320px;
}
/* Header */
.header {
  background-color: var(--dark-grey);
  overflow: auto;
  text-align: center;
  width: 100%;
}
.header__heading {
  color: var(--hot-pink);
  font-size: 60px;
  font-weight: 300;
  margin: 20px auto 0px auto;
  width: 90%;
}
.header__heading__bold-text {
  font-weight: 700;
}
.header__paragraph {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  margin: 0px auto 40px auto;
  width: 90%;
}
.header__paragraph--fancy-lines span {
  position: relative;  
}
.header__paragraph--fancy-lines span:before,
.header__paragraph--fancy-lines span:after {
  content: "";
  position: absolute;
  border-bottom: 2px solid white;
  top: 12px;
  width: 33%;
}
.header__paragraph--fancy-lines span:before {
  right: 100%;
  margin-right: 15px;
}
.header__paragraph--fancy-lines span:after {
  margin-left: 15px;
}
/*Main*/
.main {
  display: flex;
  overflow: hidden;
  vertical-align: top;
}
/*Section*/
.section {
  box-sizing: border-box;
  border: var(--dark-grey) 1px solid;
  margin: 0px;
  width: 50%;
}
.section--left {
  background-color: var(--lightest-grey);
}
.article {
  background-color: #ffffff;
  border: var(--light-grey) 1.5px solid;
  margin: 20px auto 0px auto;
  width: 90%;
}
.article__paragraph {
  display: block;
  margin: 15px auto 0px auto;
  width: 90%
}
.article__form {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin: 0px auto 20px auto;
  width: 90%;
}
.article__form__div {
  display: inline-block;
  width: 28%;
}
.label--styles {
  font-size: 12px;
}
.article__form__div__input {
  display: block;
  width: 100%;
}
.error-border-styles {
  border: solid 1px; 
  border-color: var(--light-pink);
  outline: none;
}
.input--styles {
  box-sizing: border-box;
  display: block;
  height: 20px;
  padding: 10px 5px 10px 5px
}
.input--styles:focus{
 border: solid; 
 border-color: var(--light-pink);
 outline: none;
}
.article__form__button {
  width: 28%;
}
.button--styles {
  border-radius: 25px;
  color: white; 
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  height: 26px;
}
.button--styles:focus{
 border-color:transparent!important;
 outline:none;
}
.button--states:disabled {
  background-color: var(--light-grey);
}
.button--states:hover:enabled {
  background-color: var(--hot-pink);
  outline: none;
  border: none;
}
.button--states {
  background-color: var(--grey);
}
.article__paragraph--current-range {
  font-size: 14px;
}
.article__form__div--name {
  width: 65%;
}
.article__form__div--guess {
  margin-left: 15px;
}
.article--latest-score {
  margin-bottom: 20px;
}
.article__div {
  margin: auto;
  margin-bottom: 15px;  
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.article__div__button {
  width: 30%;
}
.article__div--latest-score {
  display: flex;
  text-align: center;
}
.article__div--right,
.article__div--left {
  width: 50%;
}
.article__div--left {
  border-right: 2px var(--light-grey) solid;
}

.span--challenger-1,
.span--challenger-2 {
  font-size: 14px;
  font-weight: 700;
}
.span--current-guess {
  font-size: 14px;
}
.span--number {
  color: var(--light-pink);
  font-size: 60px;
  font-weight: 700;
}
/*Content Section Right*/
.section--right {
  background-color: var(--grey);
}
/*Winner Cards*/
.article--winner-card {
  background-color: #ffffff;
  border: var(--light-grey) 1.5px solid;
  margin: 20px auto 0px auto;
  width: 80%;
}
.span__challenger1-name,
.span__challenger2-name {
  color: var(--grey);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.header--winner-card {
  align-items: top;
  border-bottom: 2px solid var(--light-grey);
  color: var(--grey);
  display: flex;
  font-weight: 300;
  justify-content: space-around;
  margin: 4px auto 4px auto;
  width: 90%;
}

.article__div__winner-card {
  margin-bottom: 15px;
  margin: auto;
}
.winning-challenger-name {
  color: var(--grey);
  font-size: 30px;
  font-weight: 800;
}

.challenge-winner {
  color: var(--grey);
  font-size: 28px;
  text-align: center;
  }

.bottom-data-line {
  align-items: center;
  border-top: var(--light-grey) 1.5px solid;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  }
.bottom-data-line-paragraph {
  margin: 0px;
}
.total-number-guesses,
.total-time-spent {
  color: var(--grey);
  font-weight: bold;
}
.winner-card-close-button {
  background-color: var(--grey);
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 14px;
  font-size: 20px;
  height: 28px;
  margin: 5px 0px 5px 0px;
  text-align: center;
  width: 28px;
}

.versus {
  font-size: 12px;
}

.error--styles {
  height: 10px;
  color: var(--hot-pink);
  font-size: 10px;
}

.error-image {
  width: 12px;
  height: 12px;
}

.error--hidden {
  visibility: hidden;
}

/*Media Queries*/
@media only screen and (max-width: 650px) {
  .main {
    display: block;
  }  
  .section {
    width: 100%;
  }  
  .header {
    height: 75px;
    overflow: hidden;
    width: 100%;
  } 
  .header__heading {
    font-size: 28px;
    margin-top: 4px;
    text-align: center;
    width: 85%;
  }
  .header__paragraph {
    font-size: 12px;
  }
  .header__paragraph--fancy-lines span:before,
  .header__paragraph--fancy-lines span:after {
    border-bottom: 1px solid white;
    top: 8px;
    width: 20%;
  }
  .header__paragraph--fancy-lines span:before {
    right: 95%;
  }
  .header__paragraph--fancy-lines span:after {
    left: 95%;
  } 
  .article {
    display: flex;
    flex-direction: column;
  }
  .article__paragraph {
    margin: 8px auto 0px auto;
  }
  .article__form {
    display: flex;
    flex-direction: column;
  }
  .article__form--range {
    align-items: inherit;
  }
  .article__div {
    display: flex;
    flex-direction: column;
  }
  .article__form__div {
    display: flex;
    flex-direction: column;
    width: 100%
  }
  .article__form__div__input {
    width: 100%;
  }
  .input--styles {
    border: var(--grey) 1px solid;
  }
  .article__form__button {
    margin-right: 180px;
    margin-top: 15px;
    width: 30%;
  }
  .article__div__button {
    margin: 5px auto;
    width: 100%;
  }
  .article__div--latest-score {
    display: block;
  }
  .article__div--right,
  .article__div--left {
    width: 100%
  }
  .article__div--left:after{
    border-bottom: 1px solid var(--light-grey);
    content: "";
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    width: 75%;
  }
  .button--styles {
    height: 30px;
  }
  .article__div__button {
    margin-top: 15px;
  }
  .article__div__button--submit {
    margin-top: 0px;
  }
  .header--winner-card {
    border-bottom: 2px solid var(--light-grey);
    color: var(--grey);
    display: flex;
    flex-direction: column;
    font-weight: 300;
    margin: 4px auto 4px auto;
    width: 90%;
  }
  .versus {
    font-size: 10px;
    text-align: center;
  }
}


